doctype
html
  head
    title Global layout
    link(href="/css/site.css" rel="stylesheet")
  body
    ul
      li 
        a(href="/") Home
      li
        a(href="/about") About
      li
        a(href="/articles/create") Create an article
      if (currentUser)
        li
          span= currentUser.username
        li 
          form#logout-form(method="post" action="/users/logout")
            a(href="javascript:document.getElementById('logout-form').submit()") Log out
      else
        li
          a(href="/users/register") Registration
        li
          a(href="/users/login") Log in
    if (globalError)
      h3= globalError
    block main-content