doctype
html
  head
    title Global layout
    link(href="/css/site.css" rel="stylesheet")
  body
    ul
      li 
        a(href="/") Home
      li
        a(href="/about") About
      if (currentUser)
        span= currentUser.username
      else
        li
          a(href="/users/register") Registration
    if (globalError)
      h3= globalError
    block main-content