extends ../shared/layout
block main-content
  head
    title Review all articles
    link(rel="stylesheet" href="/css/layout.css")
  body
    .wrapper.row2
      #container.clear
        section#services.clear
          each article in data
            article.one_third
              h3 #{article.title} 
              h2 #{article.description}
              h2 #{moment(article.date).format("YYYY/MM/DD")}
              footer.more
                a(href="/articles/details/" + article._id) Read More »
            br
                